@charset "utf-8";
.page-header {
	background-image: url(../images/header_img.jpg);
	height: 124px;
	background-repeat: repeat-x;
	margin-top: 0px;
	margin-bottom: 0px;
}
.float-right {
	float: right;
}
.page-footer {
	font-family: Tahoma;
	color: #ff7976;
	font-size: 14px;
	font-weight: 400;
}


/*
 * cwTeXFangSong (Chinese Traditional) http://www.google.com/fonts/earlyaccess
 */
@font-face {
  font-family: 'cwTeXFangSong';
  font-style: normal;
  font-weight: 500;
  src: url(//fonts.gstatic.com/ea/cwtexfangsong/v3/cwTeXFangSong-zhonly.eot);
  src: url(//fonts.gstatic.com/ea/cwtexfangsong/v3/cwTeXFangSong-zhonly.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/cwtexfangsong/v3/cwTeXFangSong-zhonly.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/cwtexfangsong/v3/cwTeXFangSong-zhonly.woff) format('woff'),
       url(//fonts.gstatic.com/ea/cwtexfangsong/v3/cwTeXFangSong-zhonly.ttf) format('truetype');
}

/*
* Noto Sans TC (Chinese_traditional) http://www.google.com/fonts/earlyaccess
 */
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 100;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.woff) format('woff'),
       url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 300;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff) format('woff'),
       url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.otf) format('opentype');
}
@font-face {
   font-family: 'Noto Sans TC';
   font-style: normal;
   font-weight: 400;
   src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff) format('woff'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.otf) format('opentype');
 }
@font-face {
   font-family: 'Noto Sans TC';
   font-style: normal;
   font-weight: 500;
   src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.woff) format('woff'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.otf) format('opentype');
 }
@font-face {
   font-family: 'Noto Sans TC';
   font-style: normal;
   font-weight: 700;
   src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff) format('woff'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.otf) format('opentype');
 }
@font-face {
   font-family: 'Noto Sans TC';
   font-style: normal;
   font-weight: 900;
   src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Black.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Black.woff) format('woff'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Black.otf) format('opentype');
 }

/*--------------------------------------------------------*/

a{
  text-decoration: none;
  color: black;
}

.bold{
  font-weight: bolder;
}

*{
  max-width: 1058px;
  margin: auto;
}
.floatleft{
  float: left;
}
.floatright{
  float: right;
}
.clear::after{
  content: "";
  display: block;
  clear: both;
}
.navBar{
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  list-style: none;
  margin-top: 95px;
}

.Merienda{
  font-family: "Merienda";
}
.center{
	margin-top: 0px;
	margin-bottom: 0px;
}

.logo{
  font-family:'cwTeXFangSong',serif;
  font-style: normal;
  font-weight: 500;
  width: 256px;
  height: 90px;
  font-size: 64px;
  text-align: center;
  color: #000000;
  margin-top: 63px;
}

.icons{
  width: 30px;
  height: 30px;
}

.iconP{
  height: 20px;
  font-size: 14px;
  text-align: center;
  color: #000000;
  margin: 10px;
}
.iconP:hover{
  border-bottom: 1px #000000 solid;
}

.banner{
	width: 1058px;
}

.title{
	text-align: center;
	font-family: 'cwTeXFangSong',serif;
	width: 1000px;
	height: 52px;
	background-color: #9b9b9b;
	border: solid 1px #979797;
	font-size: 36px;
	margin-top: 50px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
}

.block{
 position: relative;
 margin-top: 50px;
 overflow: hidden;
}
.minititle{
  position: absolute;
  z-index: 1;
  height: 50px;
  width: 170px;
  text-align: center;
  font-size: 36px;
  left:0px;
  top: 30px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 5px;
}
.pic:hover{
  transform: scale(1.3);
  transition: all 0.5s;
}

.btn0{
	margin-top: 30px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 30px;
	padding-top: 0px;
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	overflow: hidden;
	list-style: none;
	width: 100%;
	border: 2px #000000 solid;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}
.btn1{
	display: inline-block;
	color: #000000;
	text-decoration: none;
	padding-right: 20px;
	padding-left: 20px;
	margin: 20px 0px;
	font-size: 30px;
	text-align: center;
	font-family: 'cwTeXFangSong',serif;
	margin: px auto;
}
.btn1:hover{
  border-bottom: 1px #000000 solid;
  transition: all 0.3s;
}

.minititle2{
  font-size: 36px;
  white-space: nowrap;
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.pic2{
    display: block;
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.8);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}
.container:hover .overlay {
  height: 100%;
}

.f{
	background-color: #9b9b9b;
	margin-top: 30px;
	font-size: 24px;
	color: #ffffff;
	text-align: right;
	padding-top: 60px;
	padding-bottom: 15px;
	padding-right: 15px;
}
